<app-header-in titulo="Estadistica"></app-header-in>
<ion-content>
  <div class="ion-padding">

    <ion-item>
      <ion-label>Sucursal</ion-label>
      <ion-select name="sucursal"
                  value="{{id_sucursal}}"
                  [(ngModel)]="id_sucursal"
                  (ionChange)="sucursalGet($event)"
                  placeholder="Seleccionar">
        <ion-select-option *ngFor="let item of sucursales"
                            value="{{item.id_sucursal}}">{{item.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" shape="round" (click)="verSucursal()">Ver sucursal</ion-button>


    <ion-card>
      <ion-card-header>
        Entregas por dia
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Productos en inventario
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Servicios por mes
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvasService></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Servicios por mes
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
