ion-col{
  div{
    ion-item{
        --background: #3880ff;
        --color: #fff;
        ion-label{
          font-size: 1.5em !important;
        }
    }
  }
}
.busqueda{
  background: #3880ff;
}

.footer {
   position:fixed;
   bottom:20px;
   z-index: 100;
}
