<app-header-in titulo="Nuevo Producto"></app-header-in>
<ion-content>
  <div text-center>
    <img class="image"
         (click)="presentActionSheet()"
         [src]="Pro_producto.foto[0]"
         alt="Agregar imagen">
  </div>
  <input #fileInput hidden (change)="fileUpload()" type="file" name="pic" accept="image/*">
  <form #form="ngForm" (ngSubmit)="guardar()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"
                       [(ngModel)]="Pro_producto.nombre"
                       required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Codigo de Producto</ion-label>
            <ion-input name="codigo"
                       type="text"
                       [(ngModel)]="Pro_producto.codigo"
                       required>
             </ion-input>
            <img text-center (click)="barCodeScanner()"
                 slot="end"
                 class="buttonScanner"
                 src="assets/img/barcode.png"
                 alt="leerQR">
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripcion (Opcional)</ion-label>
            <ion-input name="descripcion"
                       type="text"
                       [(ngModel)]="Pro_producto.descripcion">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Music</ion-label>
            <ion-select>
              <ion-select-option>Alice in Chains</ion-select-option>
              <ion-select-option>Green Day</ion-select-option>
              <ion-select-option selected>Nirvana</ion-select-option>
              <ion-select-option>Pearl Jam</ion-select-option>
              <ion-select-option>Smashing Pumpkins</ion-select-option>
              <ion-select-option>Soundgarden</ion-select-option>
              <ion-select-option>Stone Temple Pilots</ion-select-option>
            </ion-select>
          </ion-item>
          <div padding>
            <ion-button shape="round"
                        size="large"
                        type="submit"
                        [disabled]="form.invalid"
                        expand="block"><ion-ripple-effect></ion-ripple-effect>Guardar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
