<app-header-in titulo="Nuevo Producto"></app-header-in>
<ion-content>
  <div text-center>
    <img class="image"
         (click)="presentActionSheet()"
         [src]="Pro_producto.foto[0]"
         alt="Agregar imagen">
  </div>
  <input #fileInput hidden (change)="fileUpload()" type="file" name="pic" accept="image/*">
  <form #form="ngForm" (ngSubmit)="guardarProducto()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"
                       [(ngModel)]="Pro_producto.nombre"
                       required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Codigo de Producto</ion-label>
            <ion-input name="codigo"
                       type="text"
                       [(ngModel)]="Pro_producto.codigo"
                       required>
             </ion-input>
            <img text-center (click)="barCodeScanner()"
                 slot="end"
                 class="buttonScanner"
                 src="assets/img/barcode.png"
                 alt="leerQR">
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripcion (Opcional)</ion-label>
            <ion-input name="descripcion"
                       type="text"
                       [(ngModel)]="Pro_producto.descripcion">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input name="cantidad"
                       type="tel"
                       pattern="\d*"
                       [(ngModel)]="Pro_producto.cantidad"
                       required>
             </ion-input>
            <div slot="end">
              <img text-center (click)="sumLess(-1)"
                   class="minMax"
                   src="assets/nuevo/minus.png"
                   alt="restar">
              <img text-center (click)="sumLess(1)"
                    class="minMax"
                    src="assets/nuevo/plus.png"
                    alt="sumar">
            </div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-input name="categoria"
                       type="text"
                       [(ngModel)]="Pro_producto.categoria"
                       required>
             </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Costo</ion-label>
            <ion-input name="costo"
                       type="tel"
                       pattern="\d*"
                       [(ngModel)]="Pro_producto.costo">
            </ion-input>
          </ion-item>
          <div padding>
            <ion-button shape="round"
                        size="large"
                        type="submit"
                        [disabled]="form.invalid"
                        expand="block">Guardar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
