ion-toolbar{
  border-bottom: 2px #fff solid !important;
}

ion-header{
  --background: #3880ff;
  ion-toolbar{
    ion-item{
      ion-img{
        margin-right: 10%;
        width: 10px;
        height: 10px;
      }
      ion-label{
        font-size: 1.2em !important;
      }
    }
  }
}
.heider{
  // background: #1d62dd;
  background: #3880ff;
  height: 20px !important;
}
