<app-header-modal titulo="Productos"></app-header-modal>
<ion-content>
  <div class="busqueda">
    <form>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col>
            <div #list>
              <ion-item>
                <ion-icon slot="end"
                          name="search"
                          color="#f4f4f4">
                </ion-icon>
                <ion-input type="text"
                           placeholder="Buscar"
                           clearInput
                           [(ngModel)]='textSearch'
                           (ionChange)='busqueda($event.target.value)'
                           (input)='busqueda($event.target.value)'
                           >
                </ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div text-center>
    <h5>Productos</h5>
  </div>
  <ion-item lines="none">
    <ion-grid class="separador">
      <ion-row no-lines>
        <ion-col class="col" size="9"> Producto </ion-col>
        <ion-col class="col" size="2"> Cant. </ion-col>
        <ion-col class="col" size="1"></ion-col>
      </ion-row>
      <ion-row align-items-center  no-lines *ngFor="let item of productos">
        <ion-col size="9" text-left>
          <ion-label> {{item.descripcion}} </ion-label>
          <ion-badge *ngIf="item.tipo_consumo == 'Unidad'" color="primary">{{item.tipo_consumo}}</ion-badge>
          <ion-badge *ngIf="item.tipo_consumo == 'Porcentaje'" color="tertiary">{{item.tipo_consumo}}</ion-badge>
        </ion-col>
        <ion-col size="2" text-center>
          <ion-input  class="inputCant"
                      name="phone"
                      maxlength="3"
                      minlength="3"
                      type="tel"
                      pattern="\d*"
                      [(ngModel)]="item.cantidad"></ion-input>
        </ion-col>
        <ion-col  size="1">
          <ion-checkbox color="primary" [(ngModel)]="item.is_check"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-button class="button"
                (click)="guardarProductos()"
                color="primary"
                size="default"
                shape="round">Guardar<ion-icon slot="end" name="save"></ion-icon></ion-button>

    <ion-button class="buttonExit"
                (click)="Salir()"
                color="medium"
                size="default"
                shape="round">Cancelar<ion-icon slot="end" name="exit"></ion-icon></ion-button>
  </ion-item>
</ion-content>
