<app-header-modal *ngIf="accion=='INSERT'"
                  titulo="Nueva Sucursal">
</app-header-modal>
<app-header-modal *ngIf="accion=='UPDATE'"
                  titulo="Editar Sucursal">
</app-header-modal>
<ion-content>
  <form #form="ngForm" (ngSubmit)="InsertUpdateSucursal()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="descripcion"
                       type="text"
                       [(ngModel)]="sucursal.descripcion"
                       required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre Corto</ion-label>
            <ion-input name="nombre_corto"
                       type="text"
                       [(ngModel)]="sucursal.nombre_corto"
                       required>
             </ion-input>
          </ion-item>

          <ion-list>
        <ion-list-header>Usuarios</ion-list-header>
          <ion-item *ngFor="let item of usuarios">
            <ion-label>{{item.nombre}}</ion-label>
            <ion-checkbox [(ngModel)]="item.seleccionado"
                          color="primary"
                          checked="{{item.seleccionado}}"
                          name="seleccionado"
                          slot="end">
            </ion-checkbox>
          </ion-item>
        </ion-list>

          <ion-item lines="none">
            <ion-button class="button"
                        [disabled]="form.invalid"
                        type="submit"
                        color="primary"
                        size="default"
                        shape="round">Guardar<ion-icon slot="end" name="save"></ion-icon></ion-button>

            <ion-button class="buttonExit"
                        (click)="Salir()"
                        color="medium"
                        size="default"
                        shape="round">Cancelar<ion-icon slot="end" name="exit"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
