ion-item{
    --color: #6e6368;
}

ion-content{
  form{
    ion-grid{
      ion-row{
        ion-item{
          ion-label{
            --position:floating;
          }
        }
      }
    }
  }
}

.separador{
  background: #3880ff;
  color: #FFFFFF;
}
.gridBorder{
  margin-bottom: 35px;
}
.icon{
 height: 100%;
 display: block;
 vertical-align: middle;
}

.button{
  position: fixed;
  left: 0;
  bottom: 50px;
  right: 0;
  z-index: 500;
}

.buttonExit{
  position: fixed;
  left: 0;
  bottom: 5px;
  right: 0;
  z-index: 500;
}
