<app-header-in titulo="Servicios"></app-header-in>
<ion-content>
  <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar> -->
  <div class="busqueda">
    <form>
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col>
            <div>
              <ion-item>
                <ion-icon slot="end"
                          name="search"
                          color="#f4f4f4">
                </ion-icon>
                <ion-input type="text"
                           placeholder="Buscar"
                           clearInput>
                </ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <ion-button shape="round"
              size="large"
              expand="block"><ion-ripple-effect></ion-ripple-effect>Nuevo Servicio</ion-button>
    <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Editar</ion-item-option>
        <ion-item-option (click)="unread(item)">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
