ion-col{
  div{
    ion-item{
        --background: #3880ff;
        --color: #fff;
        ion-label{

        }
    }
  }
}

.titulo{
  font-size: 1.0em;
  font-weight: bold;
  color: #4e5c6a;
}

.busqueda{
  background: #3880ff;
}

.footer {
   position:fixed;
   bottom:20px;
   z-index: 100;
}
.precio{
  font-size: 0.7rem;
  color: #3880ff;
}
