<app-header-in titulo="Configuracion de Servicio"></app-header-in>
<ion-content>
  <form>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"
                      name="nombre"
                       [(ngModel)]="servicio.encabezado.descripcion"
                       required>
            </ion-input>
          </ion-item>
          <ion-list>
            <ion-item-sliding *ngFor="let item of servicio.productos" (click)="eliminarProducto(item)">
              <ion-item>
                <ion-label>{{item.descripcion}}</ion-label>
                <ion-label>{{item.cantidad}}</ion-label>
                <ion-icon slot="end" name="trash"></ion-icon>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
          <ion-item>
            <ion-badge (click)="presentModal()" color="primary">   Agregar   </ion-badge>
          </ion-item>
          <!-- <div padding>
            <ion-button shape="round"
                        size="large"
                        type="submit"
                        [disabled]="form.invalid"
                        expand="block"><ion-ripple-effect></ion-ripple-effect>Guardar</ion-button>
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<!-- //Va quedar como label y con un botn de update mandamos un alert y actualizamos elnombre
//los productos seran en vivo con el select
 -->
