<app-header-in titulo="Cambio"></app-header-in>
<ion-content>
  <input #fileInput hidden (change)="fileUpload()" type="file" name="pic" accept="image/*">
  <form *ngIf="cliente.id_cliente!=null"  #form="ngForm" (ngSubmit)="updateUsuario()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="6" size-xs="12">
          <div text-center>
            <ion-avatar class="avatar">
              <img [src]="cliente.foto[1] | domSanitizer"
                   (click)="presentActionSheet()">
            </ion-avatar>
          </div>
          <div padding>
            <ion-item>
                <ion-label position="floating">Nombre Comercial</ion-label>
              <ion-input name="nombreComercial"
                         type="text"
                         [(ngModel)]="cliente.nombre_comercial"
                         required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nombre legal</ion-label>
              <ion-input name="nombreLegal"
                         type="text"
                         [(ngModel)]="cliente.nombre_legal"
                         required>
               </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Rtn</ion-label>
              <ion-input name="rtn"
                         type="text"
                         pattern="\d*"
                         [(ngModel)]="cliente.rtn"
                         required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input name="phone"
                         maxlength="8"
                         minlength="8"
                         type="tel"
                         pattern="\d*"
                         [(ngModel)]="cliente.telefono"
                         required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Dirección</ion-label>
              <ion-input name="direccion"
                         type="text" [(ngModel)]="cliente.direccion">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input name="user"
                         type="text"
                         [(ngModel)]="cliente.usuario"
                         required>
               </ion-input>
            </ion-item>
          </div>
          <ion-item lines="none">
            <ion-button class="button"
                        type="submit"
                        size="default"
                        shape="round">Guardar<ion-icon slot="end" name="save"></ion-icon></ion-button>

            <ion-button class="buttonExit"
                        (click)="configUsuarios()"
                        size="default"
                        shape="round">Configurar Usuarios<ion-icon slot="end" name="cog"></ion-icon></ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
