ion-header{
  ion-toolbar{
    ion-item{
      div{
        margin-right: 10%;
        width: 10px;
        height: 10px;
      }
      ion-label{
        font-size: 1.2em !important;
      }
    }
  }
}
.heider{
  background: #3880ff;
  height: 2px;
}
