
ion-col{
  div{
    ion-item{
        --background: #3880ff;
        --color: #fff;
    }
  }
}
.busqueda{
  background: #3880ff;
}
.nombreProducto{
  font-size: 0.9em !important;
  color: #3880ff;
  font-weight: bold;
}
