<app-header-in titulo="Inventario"></app-header-in>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content  pullingIcon="arrow-dropdown"
                            pullingText="Hale para recargar"
                            refreshingSpinner="circles"
                            refreshingText="Recargando..."></ion-refresher-content>
  </ion-refresher>
  <div class="busqueda">
    <form #form="ngForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col>
            <div #list>
              <ion-item>
                <ion-icon slot="end"
                          name="search"
                          color="#f4f4f4">
                </ion-icon>
                <ion-input type="text"
                           placeholder="Buscar"
                           clearInput
                           [(ngModel)]='textSearch'
                           (ionChange)='busqueda($event.target.value)'
                           (input)='busqueda($event.target.value)'
                           >
                </ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>

  <div padding >
    <ion-list >
        <ion-item *ngFor="let item of productos" (click)="productoDetalle(item.id_producto)">
          <ion-avatar slot="start">
            <img src="{{item.imagen}}">
          </ion-avatar>
          <ion-label>
            <h2 class="nombreProducto">{{item.nombre | uppercase}}</h2>
            <h4>{{item.descripcion}}</h4>
            <ion-badge *ngIf="item.tipo_consumo == 'Unidad'" color="primary">{{item.tipo_consumo}}</ion-badge>
            <ion-badge *ngIf="item.tipo_consumo == 'Porcentaje'" color="tertiary">{{item.tipo_consumo}}</ion-badge>
          </ion-label>
          <ion-label text-end slot="end">
            <h2 class="nombreProducto">Cant.</h2>
            <h4>{{item.cantidad}}</h4>
          </ion-label>
        </ion-item>
      </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button (click)="crearProducto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
