<app-header-modal titulo="Nuevo Producto"></app-header-modal>
<ion-content>
  <div text-center>
    <img class="image"
         (click)="presentActionSheet()"
         [src]="Pro_producto.foto[1] | domSanitizer"
         alt="Agregar imagen">
  </div>
  <input #fileInput hidden (change)="fileUpload()" type="file" name="pic" accept="image/*">
  <form #form="ngForm" (ngSubmit)="guardar()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="10" size-lg="10" size-xs="12">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="nombre"
                       type="text"
                       [(ngModel)]="Pro_producto.nombre"
                       required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Codigo de Producto</ion-label>
            <ion-input name="codigo"
                       type="text"
                       [(ngModel)]="Pro_producto.codigo"
                       required>
             </ion-input>
            <img text-center (click)="barCodeScanner()"
                 slot="end"
                 class="buttonScanner"
                 src="assets/img/barcode.png"
                 alt="leerQR">
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripcion (Opcional)</ion-label>
            <ion-input name="descripcion"
                       type="text"
                       [(ngModel)]="Pro_producto.descripcion">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de Consumo</ion-label>
            <ion-select [(ngModel)]="id_consumo"
                        name="consumo"
                        (ionChange)="consumoGet($event)"
                        placeholder="Seleccione un tipo">
              <ion-select-option *ngFor="let item of tiposConsumo"
                                  value="{{item.id_tipo_consumo}}">{{item.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Categorias</ion-label>
            <ion-select [(ngModel)]="id_categoria"
                        name="categoria"
                        (ionChange)="categroriaGet($event)"
                        placeholder="Seleccione una">
              <ion-select-option *ngFor="let item of categorias"
                                  value="{{item.id_categoria}}">{{item.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div padding>
            <ion-button shape="round"
                        size="default"
                        type="submit"
                        [disabled]="form.invalid"
                        expand="block">Guardar <ion-icon slot="end" name="save"></ion-icon></ion-button>
            <ion-button shape="round"
                        size="default"
                        (click)="Salir()"
                        color="medium"
                        expand="block">Cancelar <ion-icon slot="end" name="exit"></ion-icon></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
