<app-header titulo="sucursal"></app-header>
<ion-content id="content1" main>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding (click)="crearProducto()">
          <ion-img src="/assets/icones/producto.png"></ion-img>
          <h2>Nuevo</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding (click)="navegar('/entregas')">
          <ion-img src="/assets/icones/servicio.png"></ion-img>
          <h2>Entrega</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center padding (click)="navegar('transacciones')">
          <ion-img src="/assets/icones/transacciones.png"></ion-img>
          <h2>Transacciones</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding (click)="navegar('/inventarios')">
          <ion-img src="/assets/icones/inventario.png"></ion-img>
          <h2>Inventario</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding (click)="navegar('estadisticas')">
          <ion-img src="/assets/icones/estadisticas.png"></ion-img>
          <h2>Estadistica</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card text-center padding (click)="navegar('/reportes')">
          <ion-img src="/assets/icones/reportes.png"></ion-img>
          <h2>Reportes</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-card text-center padding (click)="navegar('/categorias')">
          <ion-img src="/assets/icones/producto.png"></ion-img>
          <h2>Categorias</h2>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card text-center padding (click)="navegar('/servicios')">
          <ion-img src="/assets/icones/servicios.png"></ion-img>
          <h2>Servicios</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
