<app-header></app-header>
<ion-content padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-item>
            <ion-input name="celular" maxlength="8" minlength="8" type="tel" pattern="\d*" placeholder="Telefono" ngModel required></ion-input>
          </ion-item>
          <ion-item [hidden]="!celularConfirmado">
            <ion-input name="codigo" type="text" placeholder="Codigo" ngModel required></ion-input>
          </ion-item>
          <ion-item [hidden]="!codigoConfirmado">
            <ion-input name="nuevaPass" type="text" placeholder="Nueva Contraseña" ngModel required></ion-input>
          </ion-item>
          <ion-item [hidden]="!codigoConfirmado">
            <ion-input name="nuevaPassC" type="text" placeholder="Nueva Contraseña" ngModel required></ion-input>
          </ion-item>
          <div padding>
            <ion-button (click)="botonAvance(form)" size="large" expand="block">{{ textBoton }}</ion-button>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
