<app-header-modal titulo="Inventario"></app-header-modal>
<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
        <div text-center>
          <ion-avatar class="avatar">
            <img [src]="producto.imagen | domSanitizer">
          </ion-avatar>
          <ion-label text-wrap class="label">{{producto.nombre}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="6">
        <ion-button class="font_button"
                    color="primary"
                    size="small"
                    expand="full"
                    (click)="seleccionarProducto()"
                    shape="round">Seleccionar producto <ion-icon slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="3" size-lg="2" size-xs="6">
        <ion-item lines="none">
          <ion-label position="floating">Fecha</ion-label>
          <ion-input type="date"
                     min="2000-01-01"
                     [max]="today"
                     [(ngModel)]="fecha"
                     [value]="fecha"
                     required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center size-md="3" size-lg="2" size-xs="6">
        <ion-item lines="none">
          <ion-label position="floating">Costo unitario LPS</ion-label>
          <ion-input type="tel"
                     name="phone"
                     maxlength="8"
                     minlength="1"
                     (keydown)="validateNumber(event, true)"
                     pattern="\d*"
                     placeholder="00.00"
                     [(ngModel)]="costo">
         </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-item>
          <ion-label>Sucursal</ion-label>
          <ion-select value="{{id_sucursal}}" [(ngModel)]="id_sucursal" (ionChange)="sucursalGet($event)" placeholder="Seleccione una">
            <ion-select-option *ngFor="let item of sucursales"
                                value="{{item.id_sucursal}}">{{item.descripcion}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
      </ion-item>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-segment mode="ios">
          <ion-segment-button class="salida"
                              layout="icon-bottom"
                              (click)="salidaEntrada(2)"
                              mode="ios">
            <ion-icon name="remove"></ion-icon>
            <ion-label>Salida</ion-label>
          </ion-segment-button>
          <ion-segment-button class="entrada"
                              layout="icon-bottom"
                              (click)="salidaEntrada(1)"
                              mode="ios"
                              checked>
            <ion-icon name="add"></ion-icon>
            <ion-label>Entrada</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
      </ion-item>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-segment mode="ios">
          <ion-segment-button class="plus-minus"
                              layout="icon-bottom"
                              (click)="sumaRestar(2)"
                              mode="ios">
            <ion-icon name="remove"></ion-icon>
            <ion-label></ion-label>
          </ion-segment-button>
          <ion-segment-button class="input"
                              layout="icon-bottom"
                              mode="ios">
              <ion-input type="tel"
                         class="round"
                         name="phone"
                         maxlength="3"
                         minlength="1"
                         min="1"
                         pattern="[0-9.]+"
                         (keydown)="validateNumber(event)"
                         [(ngModel)]="cantidad"
                         text-center>
             </ion-input>
          </ion-segment-button>
          <ion-segment-button class="plus-minus"
                              layout="icon-bottom"
                              (click)="sumaRestar(1)"
                              mode="ios">
            <ion-icon name="add"></ion-icon>
            <ion-label></ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

 <ion-button class="buttone"
             (click)="guardar()"
             color="primary"
             size="default"
             shape="round">Guardar Transaccion<ion-icon slot="end" name="save"></ion-icon>
  </ion-button>
  <ion-button class="buttonExit"
              (click)="Salir()"
              color="medium"
              size="default"
              shape="round">Cancelar<ion-icon slot="end" name="exit"></ion-icon></ion-button>
</ion-content>
