<app-header-in titulo="Reportes"></app-header-in>
<ion-content>

<ion-list>
  <ion-item (click)="buttonClick()" detail>
    <ion-label>
      Stock minimo de inventarios
    </ion-label>
  </ion-item>
  <ion-item detail>
    <ion-label>
      puntos de pedidos
    </ion-label>
  </ion-item>
  <ion-item detail>
    <ion-label>
      Ganancias de servicios mensual
    </ion-label>
  </ion-item>
  <ion-item detail>
    <ion-label>
      Movimientos de inventario mensual
    </ion-label>
  </ion-item>
</ion-list>




</ion-content>
